$fontSize: 18px

body
   
    font-size: $fontSize
    margin: 0
    padding: 0
    
    div.header
        text-align: center
        text-transform: uppercase
        position: fixed
        top: 0
        left: 0
        width: 100%
        background: #CCCCFF
    div.corectCounter
        /*width: 20%*/
        min-width: 250px
        position: fixed
        top: 15px
        left: 50px
        text-align: center
        font-size: 1.2em
    div.menu
        position: fixed
        right: 100px
        top: 10px
        button
            width: 100px
            height: 50px
            font-size: 15px
            text-transform: uppercase
        button:hover
            cursor: pointer
    div.wraper
        padding: 0px 0
        width: 100%
        min-height: 100vh
        background-image: url("../img/tlo.jpg")
        background-position: center
        div.quizWraper
            margin-top: 55px
        div.quiz
            margin: 0 auto
            background-color: lightgrey
            text-align: center
            font-size: 1em
            width: 50%
            padding: 3px
            border-bottom: 1px solid white
            p.question
                font-size: 1em
                text-align: left
                text-transform: uppercase
                font-weight: bold
            p.answer
                font-size: .9em
                text-align: left
        div.description
            margin: 0 auto
            text-align: center
            font-size: 1em
            padding: 10px
            width: 50%
           
            section
                height: 50%
                background-color: white
                margin: 150px auto
                padding: 10px
                opacity: .7
                h2 
                    width: 100px
                    height: 55px
                    transition: .3s
                h2:first-letter
                    text-transform: uppercase
                    color: red
                    font-weight: bolder
                    font-size: 50px
                h2:hover
                    cursor: pointer
                    font-size: 30px
                article
                    font-weight: bold
                    text-align: left
            
        div.uncorectCounter
            flex-basis: 30%
            position: fixed
            background: yellow
            right: 200px
            
            
        
           
