body {
  font-size: 18px;
  margin: 0;
  padding: 0;
  background-color: yellow;
}

body div.wraper {
  box-sizing: border-box;
  position: absolute;
  min-width: 100%;
  margin-top: 0;
  min-height: 100vh;
  background-image: url("../img/tlo.jpg");
  background-position: center;
}

body div.wraper div.header {
  text-align: center;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #CCCCFF;
  z-index: 1;
}

body div.wraper div.header h3 p {
  text-align: center;
  min-width: 200px;
}

body div.wraper div.corectCounter {
  min-width: 250px;
  position: fixed;
  top: 15px;
  left: 50px;
  text-align: center;
  font-size: 20px;
  z-index: 1;
}

body div.wraper div.menu {
  position: fixed;
  right: 100px;
  top: 10px;
  z-index: 1;
}

body div.wraper div.menu button {
  width: 100px;
  height: 50px;
  font-size: 15px;
  text-transform: uppercase;
}

body div.wraper div.menu button:hover {
  cursor: pointer;
}

body div.wraper div.quizWraper {
  margin-top: 55px;
}

body div.wraper div.quiz {
  margin: 0 auto;
  background-color: lightgrey;
  text-align: center;
  font-size: 1em;
  width: 50%;
  padding: 20px;
  border-bottom: 1px solid white;
}

body div.wraper div.quiz p.question {
  font-size: 1em;
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
}

body div.wraper div.quiz p.answer {
  font-size: .9em;
  text-align: left;
}

body div.wraper div.quiz p.answer label:hover {
  cursor: pointer;
}

body div.wraper div.quiz p.answer div.description {
  position: relative;
  width: 60%;
  margin: 80px auto;
  text-align: center;
  font-size: 1em;
}

body div.wraper div.description {
  position: relative;
  width: 60%;
  margin: 80px auto;
  text-align: center;
  font-size: 1em;
}

body div.wraper div.description div.section {
  margin: 0 auto;
  padding: 15px;
  background-color: white;
  opacity: .7;
}

body div.wraper div.description div.section h2 {
  height: 60px;
  margin: 25px auto;
  transition: .3s;
  text-align: left;
}

body div.wraper div.description div.section h2:first-letter {
  text-transform: uppercase;
  color: red;
  font-weight: bolder;
  font-size: 50px;
}

body div.wraper div.description div.section h2:hover {
  cursor: pointer;
  font-size: 30px;
}

body div.wraper div.description div.section div.article {
  width: 100%;
  font-weight: bold;
  text-align: left;
}

@media (max-width: 1174px) {
  body div.wraper div.corectCounter {
    max-width: 150px;
    position: fixed;
    top: 50px;
    left: 0px;
    text-align: center;
    font-size: 15px;
    background-color: blue;
    color: white;
  }
}

@media (max-width: 560px) {
  body div.wraper div.quizWraper div.quiz {
    width: 100%;
  }
  body div.wraper div.menu {
    position: fixed;
    right: 0px;
    top: 10px;
  }
  body div.wraper div.menu button {
    width: 60px;
    height: 40px;
    font-size: 10px;
    text-transform: uppercase;
  }
  body div.wraper div.description {
    position: relative;
    width: 100%;
    margin: 25px auto;
    text-align: center;
    font-size: 1em;
    min-height: 100vh;
  }
  body div.wraper div.description div.section {
    margin: 0px auto;
    padding: 15px;
    background-color: white;
    opacity: .7;
    min-height: 100vh;
  }
  body div.wraper div.description div.section h2:first-letter {
    text-transform: uppercase;
    color: red;
    font-weight: bolder;
    font-size: 50px;
  }
}
